<% if (success) { %>
    <div class="alert alert-info" style="text-align: center;"><%= success %></div>
<% } %>
<% if (error) { %>
    <div class="alert alert-danger" style="text-align: center;"><%= error %></div>
<% } %>