<%- include('header') %>
<div class="container">
    <div class="blog-header" style="text-align: center;">
        <h4 class="blog-title">The Bootstrap Blog</h4>
        <p class="blog-description">The official example template of creating a blog with Bootstrap.</p>
    </div>

    <div class="blog-main">
        <!--<h1 class="blog-title">Dashboard</h1>-->

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <p class="blog-description">Something else</p>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <p class="blog-description">Something else</p>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <p class="blog-description">Something else</p>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                <p class="blog-description">Something else</p>
            </div>
        </div>
        <h2 class="sub-header">Latest Articles</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>作者</th>
                    <th>标题</th>
                    <th>时间</th>
                    <th>浏览</th>
                    <th>评论</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><img src="img/rails.png" width="60" height="60" class="img-circle" alt="用户头像"></td>
                    <td>1,001法师打发斯蒂芬24124124</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td><img src="img/rails.png" width="60" height="60" class="img-circle" alt="用户头像"></td>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                </tr>
                <tr>
                    <td><img src="img/rails.png" width="60" height="60" class="img-circle" alt="用户头像"></td>
                    <td>1,001</td>
                    <td>Lorem</td>
                    <td>ipsum</td>
                    <td>dolor</td>
                </tr>
                <tr>
                    <td><img src="img/rails.png" width="60" height="60" class="img-circle" alt="用户头像"></td>
                    <td>1,002</td>
                    <td>amet</td>
                    <td>consectetur</td>
                    <td>adipiscing</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include('footer') %>